.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}

.imageContainer {
  flex-basis: 30%;
  margin-right: 20px;
}

.bookImage {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.contentContainer {
  flex-basis: 70%;
}

.addToCartButton {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px; /* Add some space between the buttons */
}

.addToCartButton:hover {
  background-color: #0069d9;
}

.addToFavouriteButton {
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.addToFavouriteButton:hover {
  background-color: #e0a800;
}
